<div
  (click)="close()"
  class="modal fade"
  [ngClass]="{ show: show, sidebar: form.value.sidebar }"
>
  <div
    (click)="$event.stopPropagation()"
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <a href="#" (focus)="last.focus()" class="tab-loop">to last</a>
        <button
          #first
          (click)="setSidebar()"
          mdAutoFocus
          type="button"
          class="btn-resize"
        >
          <img
            src="/assets/img/{{
              form.value.sidebar ? 'dice-1.svg' : 'arrow-right-square.svg'
            }}"
            height="25px"
            alt="Window Resize"
          />
        </button>
        <button
          (click)="close()"
          type="button"
          aria-label="Close"
          class="button-close"
        >
          <img src="/assets/img/close.svg" height="25px" alt="Window Resize" />
        </button>
      </div>
      <div class="modal-body">
        <div class="form-container">
          <form [formGroup]="form">
            <h4>General Settings</h4>
            <section class="section">
              <mat-checkbox formControlName="toolTips" color="primary"
                >Tool tips on</mat-checkbox
              >
            </section>
            <section class="section">
              <mat-radio-group
                color="primary"
                formControlName="alignment"
                aria-label="Select a sound option"
              >
                <mat-radio-button #natural value="natural"
                  >Natural Cards</mat-radio-button
                >&nbsp;
                <mat-radio-button #neat value="neat"
                  >Straight Cards</mat-radio-button
                >&nbsp;
              </mat-radio-group>
            </section>
            <section class="section">
              <mat-checkbox formControlName="cardSize" color="primary"
                >Always show "Big Cards"</mat-checkbox
              >
            </section>
            <section class="section">
              <mat-radio-group
                color="primary"
                formControlName="sounds"
                aria-label="Select a sound option"
              >
                <mat-radio-button value="blackjack"
                  >Classic Sounds</mat-radio-button
                >&nbsp;
                <mat-radio-button value="stanky">Stanky Sounds</mat-radio-button
                >&nbsp;
                <mat-radio-button value="off">Sounds Off</mat-radio-button>
              </mat-radio-group>
            </section>
            <div class="row">
              <h4 class="col-sm-12">Twenty One</h4>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Deck Count</mat-label>
                  <mat-select formControlName="deckCount">
                    <mat-select-trigger>
                      {{ form.value.deckCount || "" }}
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="
                        let deck of decks;
                        let first = first;
                        trackBy: trackByFn
                      "
                      [value]="deck"
                      >{{ deck }} Deck<ng-container *ngIf="!first"
                        >s</ng-container
                      >
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <p>
                  Games are saved for each deck count variation. Selecting an
                  unused deck count will generate a new game however your other
                  game will be saved under that deck count selection.
                </p>
              </div>
              <div class="col-md-6 btn-container">
                <app-slider
                  #slider
                  (slide)="reset21()"
                  label="Reset 21"
                  btnLabel="Reset"
                ></app-slider>
              </div>
              <div class="col-md-6 btn-container">
                <app-slider
                  #slider
                  (slide)="resetAll21()"
                  label="Reset All"
                  btnLabel="Reset"
                  btnColor="warn"
                ></app-slider>
              </div>
            </div>
            <div class="row">
              <h4 class="col-sm-12">Solitaire</h4>
              <div class="col-sm-12">
                <mat-radio-group
                  color="primary"
                  formControlName="drawCount"
                  aria-label="Select a sound option"
                >
                  <mat-radio-button [value]="1">Draw 1</mat-radio-button>&nbsp;
                  <mat-radio-button [value]="3">Draw 3</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-6 btn-container">
                <app-slider
                  #slider
                  (slide)="resetSolitaire()"
                  label="Reset Solitaire"
                  btnLabel="Reset"
                ></app-slider>
              </div>
              <div class="col-md-6 btn-container">
                <app-slider
                  #slider
                  (slide)="resetAllSolitaire()"
                  label="Reset All"
                  btnLabel="Reset"
                  btnColor="warn"
                ></app-slider>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          #last
          (click)="close()"
          type="button"
          mat-stroked-button
          color="primary"
        >
          Close
        </button>
        <a href="#" (focus)="first.focus()" class="tab-loop">to last</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" [ngClass]="{ show: show }"></div>
