.card-group {
  position: relative;
  app-card {
    margin: 0 auto;
    display: inline-block;
  }
}

.card-placeholder {
  background: rgba(0, 0, 0, 0.15);
  margin: 4px auto;
}

.dragging {
  pointer-events: none;
  touch-action: none;
}
.undo-drag {
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
}
.dragging,
.undo-drag {
  z-index: 100;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-filter: drop-shadow(-2px -2px 8px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(-2px -2px 8px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(-2px -2px 8px rgba(0, 0, 0, 0.5));
}
.card-stack {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.col-stock,
  .col-talon,
  .col-foundation,
  .col-tableau,
  .col-space {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    flex: 0 0 auto;
    width: 12.5%;
    > div {
      margin: 0 auto;
      position: relative;
    }
  }
  .col-foundation {
    width: 11.875%;
  }
  .col-space {
    width: 5%
  }
  .col-stock,
  .col-tableau,
  .col-foundation {
    app-card {
      margin: 0 auto;
      height: unset;
      top: 0;
      left: 0%;
    }
  }
  ::ng-deep {
    app-card-cell {
      position: relative;
      app-card {
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }