<div>
  <img
    src="/assets/img/card-placeholder.png"
    alt="Card Placeholder"
    class="card-placeholder"
    style="position: relative"
    [attr.data-column]="-index - 1"
    class="freeceell-{{ index }}"
  />
  <div
    class="card-group block text-center position-absolute w-100"
    [ngClass]="{ 'undo-drag': undoDrag, dragging: dragging }"
    [ngStyle]="{ top: posY + 'px', left: posX + 'px' }"
  >
    <app-card
      (mousedown)="start($event)"
      (touchstart)="start($event)"
      [card]="card"
      [cardSound]="false"
      [column]="-index - 1"
      [animate]="false"
      [pos]="'relative'"
      [style.position]="'absolute'"
    ></app-card>
  </div>
</div>
