.card {
  &:not(.hide) {
    background: url("/assets/img/cards.png") no-repeat;
    background-size: 1358%;
    &.small-cards {
      background-image: url("/assets/img/cards-small.png");
    }
  }
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  float: left;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* entire container, keeps perspective */
.flipper {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.flipper.flip {
  transform: rotateY(180deg) !important;
  -webkit-transform: rotateY(180deg) !important;
  -moz-transform: rotateY(180deg) !important;
}

.front,
.back {
  position: absolute;
}
/* flip speed goes here */
.flipper {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
