<div
  class="flipper"
  [ngClass]="{ flip: flip || hoverFlip }"
  [ngStyle]="{ position: pos }"
>
  <img
    src="/assets/img/card.png"
    [height]="height - 55"
    alt="Card"
    [ngClass]="{
      hide: card === 0,
      'card-size': settings.cardSize
    }"
    class="card"
    [ngStyle]="cardStyles"
  />
  <img
    src="/assets/img/card.png"
    [height]="height - 55"
    alt="Card"
    [ngClass]="{
      hide: card === 0,
      'card-size': settings.cardSize
    }"
    class="card"
    [ngStyle]="backCardStyles"
  />
</div>
