<div
  class="flipper"
  [ngClass]="{ flip: flip || hoverFlip }"
  [ngStyle]="{ position: pos }"
>
  <img
    #cardElement
    (click)="click()"
    src="/assets/img/card.png"
    [style.height]="height + 'px' || 'auto'"
    [style.width]="width + 'px' || 'auto'"
    [attr.data-column]="column"
    alt="Card"
    [ngClass]="{
      hide: _card === 0,
      'small-cards': settings.cardSize || width < 60 || height < 100
    }"
    class="card"
    [ngStyle]="cardStyles"
  />
  <img
    (click)="click()"
    src="/assets/img/card.png"
    [style.height]="height + 'px' || 'auto'"
    [style.width]="width + 'px' || 'auto'"
    alt="Card"
    [ngClass]="{
      hide: _card === 0,
      'small-cards': settings.cardSize || width < 60 || height < 100
    }"
    class="card"
    [ngStyle]="backCardStyles"
  />
</div>
