<div class="solitaire-container noselect height-100 position-fixed">
  <app-nav
    (action)="doEvent($event)"
    heading="Solitaire"
    [hasStats]="hasStats"
    restart
  ></app-nav>
  <div class="container height-100">
    <div class="row">
      <div class="{{ landscape ? 'col-sm-2' : 'col-sm-12' }}">
        <div class="row">
          <div
            class="col-stock"
            [ngClass]="{
              'd-flex': landscape,
              'flex-column': landscape
            }"
          >
            <div>
              <img
                src="/assets/img/card-placeholder.png"
                [style.width]="(landscape ? width / 1.3 : width) - 4 + 'px'"
                alt="Card Placeholder"
                class="placeholder"
              />
              <app-card
                (cardClick)="draw()"
                [card]="stock.length ? 'back' : 0"
                [width]="landscape ? width / 1.3 : width"
                [cardSound]="false"
                [animate]="false"
                neat
                pos="relative"
                class="stock align-self-center"
              ></app-card>
            </div>
          </div>
          <div class="col-talon position-relative">
            <app-card-talon
              [cards]="talon"
              [tableau]="tableau"
              [foundation]="foundation"
              [animate]="animate"
              [width]="landscape ? width / 1.3 : width"
            ></app-card-talon>
          </div>
          <div class="col-space"></div>
          <div
            *ngFor="let base of foundation; trackBy: trackByFn; let i = index"
            class="col-stock d-flex flex-direction-column col-foundation"
          >
            <div>
              <img
                src="/assets/img/card-placeholder.png"
                [style.width]="(landscape ? width / 1.3 : width) - 4 + 'px'"
                alt="Card Placeholder"
                class="placeholder"
                style="position: relative"
                [attr.data-column]="i + 7"
                class="foundation-{{ i }}"
              />
              <app-card
                *ngFor="let card of base; let cardIndex = index"
                [card]="card"
                [width]="landscape ? width / 1.3 : width"
                [cardSound]="cardSound"
                [column]="i + 7"
                [animate]="false"
                [pos]="'relative'"
                [style.position]="'absolute'"
              ></app-card>
            </div>
          </div>
        </div>
      </div>

      <div class="{{ !landscape ? 'col-sm-12' : 'col-sm-10' }}">
        <div class="row">
          <div
            *ngFor="let stack of tableau; trackBy: trackByFn; let i = index"
            class="col-tableau d-flex flex-column height-100"
            [attr.data-column]="i"
          >
            <div>
              <img
                src="/assets/img/card-placeholder.png"
                [style.width]="width - 4 + 'px'"
                alt="Card Placeholder"
                class="placeholder"
                [style.position]="stack.length ? 'absolute' : 'relative'"
                [attr.data-column]="i"
              />
              <app-card-group
                *ngIf="stack.length"
                [tableau]="tableau"
                [foundation]="foundation"
                [cards]="stack"
                [column]="i"
                [width]="width"
                [animate]="animate"
                [cardSound]="cardSound"
              ></app-card-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
