<div
  class="card-group d-flex flex-column"
  [ngStyle]="{
    top: posY + 'px',
    left: posX + 'px',
    'z-index': dragging ? '100' : undefined,
    'pointer-events': dragging ? 'none' : undefined,
    'touch-action': dragging ? 'none' : undefined
  }"
  [attr.data-column]="column"
>
  <app-card
    #card
    (mousedown)="start($event)"
    (touchstart)="start($event)"
    [card]="cards[0].card"
    [flip]="cards[0].flip"
    [width]="width"
    [animate]="animate"
    [cardSound]="cardSound && cards.length === 1"
    [column]="column"
    pos="relative"
    class="align-self-center"
    [ngClass]="{ select: !cards[0].flip }"
    [ngStyle]="{
      height: offset + 'px',
      'z-index': 20 - cards.length
    }"
  ></app-card>
  <app-card-group
    *ngIf="cards[1]"
    [tableau]="tableau"
    [foundation]="foundation"
    [cards]="cards | cardGroup"
    [column]="column"
    [width]="width"
    [animate]="animate"
    [cardSound]="cardSound"
  ></app-card-group>
</div>
