.modal {
  display: block;
  transition-duration: .08s;
  will-change: opacity;

  &.fade {
    .modal-dialog {
      transition: transform .08s ease-out;
      transition-property: transform;
      transition-duration: .08s;
      transition-timing-function: ease-out;
      transition-delay: 0s;
      will-change: translate;
    }
  }

  h5 {
    font-size: 2rem;
    margin: 0;
  }

  .modal-footer {
    padding: .5rem;
  }
}
.fade {
  transition: opacity .08s linear;
}
.section {
  display: flex;
  align-content: center;
  align-items: center;
  min-height: 60px;
}