<div (click)="close()" class="modal fade" [ngClass]="{ show: show }">
  <div
    (click)="$event.stopPropagation()"
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <a href="#" (focus)="last.focus()" class="tab-loop">to last</a>
        <button
          #first
          (click)="close()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          mdAutoFocus
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-container">
          <form [formGroup]="form">
            <section class="section">
              <mat-checkbox formControlName="toolTips" color="primary"
                >Tool tips on</mat-checkbox
              >
            </section>
            <section class="section">
              <mat-radio-group
                color="primary"
                formControlName="alignment"
                aria-label="Select a sound option"
              >
                <mat-radio-button #natural value="natural"
                  >Natural Cards</mat-radio-button
                >&nbsp;
                <mat-radio-button #neat value="neat"
                  >Straight Cards</mat-radio-button
                >&nbsp;
              </mat-radio-group>
            </section>
            <section class="section">
              <mat-checkbox formControlName="cardSize" color="primary"
                >Always show "Big Cards"</mat-checkbox
              >
            </section>
            <section class="section">
              <mat-radio-group
                color="primary"
                formControlName="sounds"
                aria-label="Select a sound option"
              >
                <mat-radio-button value="blackjack"
                  >Classic Sounds</mat-radio-button
                >&nbsp;
                <mat-radio-button value="stanky">Stanky Sounds</mat-radio-button
                >&nbsp;
                <mat-radio-button value="off">Sounds Off</mat-radio-button>
              </mat-radio-group>
            </section>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Deck Count</mat-label>
                  <mat-select formControlName="deckCount">
                    <mat-select-trigger>
                      {{ form.value.deckCount || "" }}
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="
                        let deck of decks;
                        let first = first;
                        trackBy: trackByFn
                      "
                      [value]="deck"
                      >{{ deck }} Deck<ng-container *ngIf="!first"
                        >s</ng-container
                      >
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <p>
                  Games are saved for each deck count variation. Selecting an
                  unused deck count will generate a new game however your other
                  game will be saved under that deck count selection.
                </p>
              </div>
              <div class="col-md-6 d-flex justify-content-center btn-container">
                <button
                  (click)="resetGame = !resetGame; resetAll = false"
                  type="button"
                  mat-stroked-button
                  [color]="resetGame ? '' : 'primary'"
                  class="align-self-center w-100"
                >
                  {{ resetGame ? "Cancel" : "Reset This game" }}
                </button>
              </div>
              <div class="col-md-6 d-flex justify-content-center btn-container">
                <button
                  *ngIf="resetGame"
                  (click)="gameReset()"
                  type="button"
                  mat-raised-button
                  color="warn"
                  class="align-self-center w-100"
                >
                  Confirm Reset Game
                </button>
              </div>
              <div class="col-md-6 d-flex justify-content-center btn-container">
                <button
                  (click)="resetAll = !resetAll; resetGame = false"
                  type="button"
                  mat-stroked-button
                  [color]="resetAll ? '' : 'warn'"
                  class="align-self-center w-100"
                >
                  {{ resetAll ? "Cancel" : "Reset All Games" }}
                </button>
              </div>
              <div class="col-md-6 d-flex justify-content-center btn-container">
                <button
                  *ngIf="resetAll"
                  (click)="allReset()"
                  type="button"
                  mat-raised-button
                  color="warn"
                  class="align-self-center w-100"
                >
                  Confirm Reset All
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          #last
          (click)="close()"
          type="button"
          mat-stroked-button
          color="primary"
        >
          Close
        </button>
        <a href="#" (focus)="first.focus()" class="tab-loop">to last</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" [ngClass]="{ show: show }"></div>
