.card-group {
  position: relative;
}

::ng-deep {
  app-free-cell-group {
    app-card {
      height: 3.5vh;
      &:not(.select) {
        > .flipper {
          filter: brightness(0.75);
          -webkit-filter: brightness(0.75);
          -moz-filter: brightness(0.75);
        }
      }
      &.select {
        cursor: pointer;
      }
    }
  }
}
.dragging {
  pointer-events: none;
  touch-action: none;
}
.undo-drag {
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
}
.dragging,
.undo-drag {
  z-index: 100;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-filter: drop-shadow(-2px -2px 8px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(-2px -2px 8px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(-2px -2px 8px rgba(0, 0, 0, 0.5));
}
