<div class="solitaire-container noselect height-100 position-fixed">
  <app-nav
    (action)="doEvent($event)"
    heading="FreeCell"
    [hasStats]="hasStats"
    restart
  ></app-nav>
  <div class="container height-100">
    <div class="{{ landscape ? 'col-sm-2' : 'col-sm-12' }}">
      <div class="row">
        <div
          *ngFor="let cell of freeCells; trackBy: trackByFn; let i = index"
          class="col-stock d-flex flex-direction-column col-foundation"
        >
          <app-card-cell
            #cardTalon
            [card]="cell"
            [freeCells]="freeCells"
            [tableau]="tableau"
            [foundation]="foundation"
            [animate]="animate"
            [index]="i"
          ></app-card-cell>
        </div>
        <div class="col-space"></div>
        <div
          *ngFor="let base of foundation; trackBy: trackByFn; let fIndex = index"
          class="col-stock d-flex flex-direction-column col-foundation"
        >
          <div>
            <img
              src="/assets/img/card-placeholder.png"
              alt="Card Placeholder"
              class="card-placeholder"
              style="position: relative"
              [attr.data-column]="fIndex + 8"
              class="foundation-{{ fIndex }}"
            />
            <app-card
              *ngFor="let card of base; let cardIndex = index"
              [card]="card"
              [cardSound]="cardSound"
              [column]="fIndex + 8"
              [animate]="false"
              [pos]="'relative'"
              [style.position]="'absolute'"
            ></app-card>
          </div>
        </div>

        <div class="{{ !landscape ? 'col-sm-12' : 'col-sm-10' }}">
          <div class="row">
            <div
              *ngFor="let stack of tableau; trackBy: trackByFn; let i = index"
              class="col-tableau d-flex flex-column height-100"
              [attr.data-column]="i"
            >
              <div>
                <img
                  src="/assets/img/card-placeholder.png"
                  alt="Card Placeholder"
                  class="card-placeholder"
                  [style.position]="stack.length ? 'absolute' : 'relative'"
                  [attr.data-column]="i"
                />
                <app-free-cell-group
                  *ngIf="stack.length"
                  [tableau]="tableau"
                  [foundation]="foundation"
                  [cards]="stack"
                  [column]="i"
                  [animate]="animate"
                  [cardSound]="cardSound"
                  [index]="stack.length - 1"
                  [freeCells]="freeCells"
                ></app-free-cell-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
