.free-cell-container {
  background: url("/assets/img/felt.jpg");
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 320px;
  position: fixed;
  padding: 50px 15px 15px 15px;
  top: 0;
  left: 0;

  ::ng-deep {
    .card {
      width: 100%;
    }
    .card-placeholder {
      width: 95%;
    }
  }

  .col-stock,
  .col-talon,
  .col-foundation,
  .col-tableau,
  .col-space {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    flex: 0 0 auto;
    width: 12.5%;
    > div {
      margin: 0 auto;
      position: relative;
    }
  }
  .col-foundation {
    width: 11.875%;
  }
  .col-space {
    width: 5%;
  }
  .col-stock,
  .col-tableau,
  .col-foundation {
    app-card {
      margin: 0 auto;
      height: unset;
      top: 0;
      left: 0%;
    }
  }
  .card-placeholder {
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    margin: 4px;
    top: 0;
    left: 0;
  }
  .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

@media screen and (max-width: 768px) {
  .free-cell-container {
    .container-xl {
      padding-left: 1%;
      padding-right: 1%;
    }

    .col-stock,
    .col-tableau,
    .col-foundation {
      padding-left: 1%;
      padding-right: 1%;
    }

    ::ng-deep {
      .card {
        &:not(.hide) {
          background-image: url("/assets/img/cards-small.png") !important;
        }
      }
    }
  }
}
