.twenty-one-container {
  background: url("/assets/img/felt.jpg");
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 320px;
  position: fixed;
  top: 0;
  left: 0;

  ::ng-deep {
    .card {
      height: calc(50vh - 90px);
      max-height: 300px;
    }
  }

  .card-container {
    padding-right: 120px;
  }

  .game-container {
    height: 100%;
    padding-right: 98px;
    padding-top: 40px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .player-has-split {
    width: 50%;
    float: left;
  }

  .player-split {
    position: relative;
    float: left;
    width: 50%;
    margin: 2% 2% 0 2%;
    border-radius: 5px;
    h3 {
      right: 0;
      width: calc(94% - 85px);
    }
  }
  .dealer {
    position: relative;
    padding: 0 15px;
    margin-bottom: 10px;
    height: calc(50vh - 40px);
    max-height: 350px;
  }
  .player {
    position: relative;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
    height: calc(50vh - 40px);
    max-height: 350px;
  }
  .hand {
    color: white;
    margin-bottom: 16px;
    font-size: 1.5em;
    line-height: 1.6rem;
  }
  .score {
    list-style-type: none;
    position: absolute;
    color: #ffff00;
    font-weight: bold;
    font-size: 1.3rem;
    right: 0;
    top: -1px;
    border: 1px solid white;
    border-radius: 30px 0 0 30px;
    height: 28px;
    width: calc(100% - 104px);
    background-color: black;
    padding: 2px 8px;
    text-align: right;
    line-height: 23px;
    margin-bottom: 0;

    img {
      height: 26px;
      top: -2px;
      position: relative;
    }
  }
  .bank {
    border-radius: 0 0 0 33px;
    height: 30px;
    top: -5px;
    border-top: 0;
    font-size: 1.5rem;
    font-family: courier, monospace;
    padding: 0 6px;
    line-height: 28px;

    .settings-btn {
      background: none;
      border: none;
      float: none;
      margin: 0;
      height: auto;
      width: auto;
      float: left;

      .settings-img {
        padding: 2px 1px 1px 1px;
        margin-left: 22px;
        height: 32px;
        background: none;
      }
    }
    .stats-btn {
      background: none;
      border: none;
      float: none;
      margin: 0;
      height: auto;
      width: auto;
      float: left;

      .settings-img {
        padding: 2px 1px 1px 1px;
        margin-left: 5px;
        height: 32px;
        background: none;
      }
    }
  }

  .insurance {
    height: 62px;
    width: 62px;
    position: absolute;
    left: 15px;
    top: 45px;
    z-index: 20;
    cursor: pointer;
    background: url("/assets/img/chip.png") no-repeat 83.4% 0;
    background-size: cover;
  }
  .a-button {
    background-size: cover;
    background: repeating-linear-gradient(
      135deg,
      #8585c7,
      #dbdbd6 50%,
      #61613f 100%
    );
    &:hover,
    &:active,
    &:focus {
      svg {
        fill: #000;
      }
    }
  }
  .chip10 {
    background: url("/assets/img/chip.png") no-repeat;
    background-size: cover;
  }
  .chip50 {
    background: url("/assets/img/chip.png") no-repeat 16.7% 0;
    background-size: cover;
  }
  .chip100 {
    background: url("/assets/img/chip.png") no-repeat 33.3% 0;
    background-size: cover;
  }
  .chip500 {
    background: url("/assets/img/chip.png") no-repeat 50.3% 0;
    background-size: cover;
  }
  .insure {
    background: url("/assets/img/chip.png") no-repeat 83.4% 0;
    background-size: cover;
  }
  .insured {
    background: url("/assets/img/chip.png") no-repeat 99.9% 0;
    background-size: cover;
  }
  .surrender {
    font-size: 10px;
  }
  .player-bet,
  .split-bet {
    font-size: 1.4rem;
    color: #033c00;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: right;
    right: 0;
    padding: 5px 5px 5px 40px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px 0 0 0;
    background-color: rgba(144, 238, 144, 0.45);

    h4 {
      margin: 0;
    }
  }
}
.up {
  background-color: rgb(76 161 9 / 25%);
  box-shadow: 0 0 20px 16px rgb(76 161 9 / 25%);
  -webkit-box-shadow: 0 0 20px 16px rgb(76 161 9 / 25%);
  -moz-box-shadow: 0 0 20px 16px rgb(76 161 9 / 25%);

  .hand {
    color: #ffff00;
  }
}

.control-panel {
  position: absolute;
  width: 85px;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-image: url("/assets/img/wood.jpg");
  box-shadow: 22px 0 10px -10px rgba(0, 0, 0, 0.5) inset;
  z-index: 10;
}
.controls {
  right: 0;
  height: 389px;
  bottom: 0;
  width: 75px;
  position: absolute;
}
.tw-btn {
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  color: #2f3145;
  font-weight: bold;
  width: 56px;
  height: 56px;
  font-size: 12px;
  border-radius: 60px;
  margin: 7px 7px;
  border-top-color: #767676;
  border-left-color: #767676;
  border-bottom-color: #464646;
  border-right-color: #464646;
  border-style: solid;
  background: repeating-linear-gradient(
    135deg,
    #8585c7,
    rgba(219, 219, 214, 1) 50%,
    #61613f 100%
  );
  border-width: 3px;
  float: right;
  text-align: center;
  padding: 0;
  &:focus-visible {
    outline: none;
  }
  &[disabled] {
    cursor: default;
  }
  &:hover {
    &:not([disabled]) {
      &:not(:active) {
        border-width: 3px;
        filter: brightness(1.1);
      }
    }
  }
  &:focus,
  &:focus-visible {
    &:not([disabled]) {
      filter: contrast(1.5);
    }
  }
  &:active {
    &:not([disabled]) {
      border-width: 5px;
      border-bottom-color: #767676;
      border-right-color: #767676;
      border-top-color: #464646;
      border-left-color: #464646;
      border-style: solid;    
    }
  }
}

@media (orientation: portrait) {
  .twenty-one-container {
    ::ng-deep {
      .card {
        height: calc(33vh - 100px);
        max-height: 300px;
      }
    }
    .game-container {
      padding-right: 0 !important;
    }
    .split-clear {
      clear: both;
    }
    .dealer,
    .player,
    .player-split {
      position: relative;
      width: 95%;
      margin-left: 2%;
      height: calc(33% - 37px);
    }
    .control-panel {
      width: 100%;
      height: auto;
      top: auto;
      bottom: -5px;
      position: absolute;
      box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.81) inset;
      border-radius: 100% 100% 0 0;
    }
    .controls {
      height: 95px;
      position: relative;
      left: calc(50% - 180px);
      width: 360px;
    }
    .tw-btn {
      width: 62px;
      height: 62px;
      border-width: 4px;
      margin: 23px 5px 0 5px;
      font-size: 13px;
      float: left;
    }
    .insurance {
      height: 45px;
      width: 45px;
    }
  }
}
@media (orientation: landscape) /* Mobile Landscape */ and (max-height: 400px) {
  .twenty-one-container {
    .player-bet,
    .split-bet {
      font-size: 95%;
      height: 18px;
      padding: 3px 3px 3px 40px;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .controls {
      height: 320px;
      bottom: auto;
      top: 0;
    }
    .tw-btn {
      margin: 3px 12px 0 10px;
      width: 50px;
      height: 50px;
      font-size: 9px;
    }
  }
}
@media (orientation: portrait) /* Mobile Portrait */ and (max-device-height: 480px) {
  html,
  body,
  #wrapper {
    min-height: 372px;
  }
}

@media (min-width: 900px) {
  .play {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media (min-width: 1300px) {
  .play {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media only screen /* iPhone 4 Portrait*/ and (orientation: portrait) and (device-width: 320px) and (device-height: 480px) {
  .twenty-one-container {
    .hand {
      font-size: 100%;
    }
    .bank {
      font-size: 14px;
      line-height: 10px;
      height: 18px;
      .settings-btn {
        .settings-img {
          margin-left: 7px;
        }
      }
      .settings-btn,
      .stats-btn {
        .settings-img {
          height: 18px;
        }
      }
    }
    .score {
      font-size: 14px;
      height: 18px;
      img {
        height: 16px;
      }
    }
    .player-bet,
    .split-bet {
      font-size: 95%;
      height: 18px;
      padding: 3px 3px 3px 40px;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .control-panel {
      border-radius: 0;
    }
    .controls {
      height: 81px;
      left: 0;
      width: 320px;
    }
    .tw-btn {
      margin: 10px 5px 0 5px;
      width: 54px;
      height: 54px;
      font-size: 9px;
    }
  }
}
@media only screen /* iPhone 4 Landscape*/ and (orientation: landscape) and (device-height: 480px) and (device-width: 320px) {
  .twenty-one-container {
    .hand {
      font-size: 100%;
    }
    .bank {
      font-size: 100%;
      height: 18px;
      padding: 4px;
    }
    .score {
      font-size: 14px;
      height: 18px;
    }
    .player-bet,
    .split-bet {
      font-size: 95%;
      height: 18px;
      padding: 3px 3px 3px 40px;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .controls {
      height: 320px;
      bottom: auto;
      top: 0;
    }
    .tw-btn {
      margin: 3px 12px 0 10px;
      width: 50px;
      height: 50px;
      font-size: 9px;
    }
  }
}
@media only screen /* iPad in Landscape */ and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .controls {
    bottom: auto;
  }
}
@media (orientation: portrait) and (-webkit-max-device-pixel-ratio: 2) and (max-width: 440px) {
  .twenty-one-container {
    .control-panel {
      border-radius: 0;
    }
    .controls {
      height: 70px;
      width: 320px;
      left: calc(50% - 160px);
    }
    .tw-btn {
      margin: 7px 5px 0 5px;
      width: 54px;
      height: 54px;
      font-size: 9px;
    }
  }
}
@media (max-width: 440px) and (-webkit-max-device-pixel-ratio: 2) {
  .twenty-one-container {
    .hand {
      font-size: 100%;
    }
    .bank {
      font-size: 100%;
      padding: 1px 5px;
      height: 17px;
      line-height: 17px;
      .settings-btn {
        .settings-img {
          margin-left: 7px;
        }
      }
      .settings-btn,
      .stats-btn {
        .settings-img {
          height: 18px;
        }
      }
    }
    .score {
      font-size: 14px;
      line-height: 12px;
      height: 18px;
      img {
        height: 16px;
      }
    }
    .player-bet,
    .split-bet {
      font-size: 11px;
      line-height: 11px;
      height: 18px;
      padding: 3px 3px 3px 40px;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}
@media only screen /* iPhone 6 Plus Landscape */ and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .controls {
    bottom: auto;
  }
}
@media only screen and (orientation: landscape) and  (max-height: 500px) {
  .twenty-one-container {
    ::ng-deep {
      .card {
        &:not(.hide) {
          background-image: url("/assets/img/cards-small.png") !important;
        }
      }
    }
  }
}
@media only screen and (orientation: portrait) and  (max-height: 700px) {
  .twenty-one-container {
    ::ng-deep {
      .card {
        &:not(.hide) {
          background-image: url("/assets/img/cards-small.png") !important;
        }
      }
    }
  }
}
