<nav
  class="d-flex justify-content-between"
  [ngClass]="{ controls: ['', true].includes(controls) }"
>
  <a routerLink="/">
    <img class="wp-link" alt="technicallytom.com" src="/assets/img/logo.png" />
  </a>
  <div>
    <button
      #tooltip="matTooltip"
      *ngIf="['', true].includes(restart)"
      (click)="doEvent('restart')"
      mat-icon-button
      [matTooltip]="settings?.toolTips ? 'Reset Game' : null"
      matTooltipPosition="left"
      [disabled]="restartDisabled"
    >
      <mat-icon>play_circle</mat-icon>
    </button>
    <h1>{{ heading }}</h1>
    <button
      #tooltip="matTooltip"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [matTooltip]="settings?.toolTips ? 'Game Selection and Settings' : null"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <ng-container *ngFor="let option of options; trackBy: trackByFn">
        <button
          *ngIf="
            option.url !== url &&
            !option.divider &&
            (option.action !== 'stats' || hasStats)
          "
          type="buton"
          (click)="doEvent(option.action)"
          [routerLink]="option.url"
          mat-menu-item
        >
          <mat-icon
            *ngIf="option.icon"
            aria-hidden="false"
            class="icon"
            [color]="option.color"
            aria-label="Cards"
            >{{ option.icon }}</mat-icon
          >
          <img *ngIf="option.iconImg" [src]="option.iconImg" />
          <span>{{ option.name }}</span>
        </button>
        <hr *ngIf="option.divider" class="divider" />
      </ng-container>
    </mat-menu>
  </div>
</nav>
