<div class="w-100 text-center">
  <img
    src="/assets/img/card-placeholder.png"
    [style.width]="width - 4 + 'px'"
    alt="Card Placeholder"
    class="placeholder"
    pos="relative"
  />
</div>
<div
  class="card-group block text-center position-absolute w-100"
  [style.top]="posY + 'px'"
  [style.left]="posX + 'px'"
  [style.zIndex]="dragging ? '100' : undefined"
  [style.pointerEvents]="dragging ? 'none' : undefined"
  [style.touchAction]="dragging ? 'none' : undefined"
>
  <app-card
    (mousedown)="start($event)"
    (touchstart)="start($event)"
    [card]="cards[cards.length - 1] || 0"
    [width]="width"
    [animate]="animate"
    neat
    pos="relative"
  ></app-card>
</div>
