<div class="solitaire-container noselect h-100 position-fixed">
  <app-nav heading="Home"></app-nav>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="card">
          <button routerLink="/twenty-one" mat-stroked-button color="primary">
            Twenty One
          </button>
          <br />
          <button routerLink="/solitaire" mat-stroked-button color="primary">
            Solitaire
          </button>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
