.four-o-four-container {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 15px;
  background: url("/assets/img/felt.jpg");

  h1 {
    padding: 15px;
    width: 173px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .mat-card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 360px;
    height: 250px;
    margin-left: -150px;
    margin-top: -130px;
    text-align: center;
    background: #0000007a;
    color: #fff;
  }
  app-card {
    display: inline-block;
    position: absolute;
    right: 150px;
    top: 25px;
  }
}
